<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>宠物管理系统</title>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all"/>
</head>
<body class="layui-layout-body" onload="getInfo()" >
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">宠物管理系统</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">控制台</a></li>
            <li class="layui-nav-item"><a href="">管理</a></li>
            <li class="layui-nav-item"><a href="">用户</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">其它系统</a>
                <dl class="layui-nav-child">
                    <dd><a href="">邮件管理</a></dd>
                    <dd><a href="">消息管理</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img"/>
                    旺财
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="">退了</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">所有</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="javascript:;">列表三</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">解决方案</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">列表一</a></dd>
                        <dd><a href="javascript:;">列表二</a></dd>
                        <dd><a href="">超链接</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">云市场</a></li>
                <li class="layui-nav-item"><a href="">发布</a></li>
            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="margin-bottom: 5px;">
            <button type="button" class="layui-btn" onclick="window.location.href = 'index.html'"><i class="layui-icon"></i>
            </button>
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend>宠物信息</legend>
            </fieldset>
            <form class="layui-form"  >
                <div class="layui-form-item">
                    <label class="layui-form-label">宠物名</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" lay-verify="name" lay-reqtext="宠物怎么可以没名字？" placeholder="请输入"
                               autocomplete="off" class="layui-input"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">年龄</label>
                    <div class="layui-input-block">
                        <input type="text" name="age" lay-verify="age" placeholder="请输入" autocomplete="off"
                               class="layui-input"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">宠物主人</label>
                    <div class="layui-input-block">
                        <input type="text" name="owner" lay-verify="owner" lay-reqtext="宠物主人是谁？" placeholder="请输入"
                               autocomplete="off" class="layui-input"/>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block">
                        <textarea name="message" lay-verify="message" placeholder="描述一下宠物" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>

    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © keji.com - 宠物之家
    </div>
</div>

<script th:src="@{/layui/layui.js}" charset="utf-8"></script>

<script>
    var type="POST";
    function getInfo() {
        var layer=layui.layer;
        var id = getQueryString("id");
        var url="querybyid/"+id;
        if(id!=null){
            ajax(url);

            type="PUT"
            // layer.$.getJSON(url, function(data) {
            //     layer.alert(data);
            //     if(data!=null){
            //         layer.alert(data);
            //     }
            // });
            layer.alert("执行完了"+url+type);
        }
    }


    function getQueryString(name){
        var reg = new RegExp("(^|&amp;)"+ name +"=([^&amp;]*)(&amp;|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
    }

    function ajax(url){
        layer.alert(url);
        layer.$.ajax({
            url:url,
            method:"PUT",
            success:function (data) {
                layer.$('#name').val(data.name);
                layer. $('#age').val(data.age);
                layer.$('#owner').val(data.owner);
                layer.$('#message').val(data.message);
            }
        });
    }

    layui.use('form', function () {
        var form = layui.form;
        var $ = layui.$ //重点处
        //监听提交
        form.on('submit(demo1)', function (data) {
            $.ajax({
                url: "save",
                type: type,
                data: JSON.stringify(data.field),
                contentType: "application/json"  //缺失会出现URL编码，无法转成json对象
            });
            layer.alert("添加成功");
        });
    })
</script>

</body>
</html>
